{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Annotate a datapoint{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if is_view %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <p class="lead">
          Assigned to the user "{{ username }}".
          {% if answer %}
            The answer is "{{ answer }}".
          {% endif %}
      </p>
        {% if username == g.user['username'] and answer %}
              <form method="post">
                <input id="input_clear" type="submit" class="btn btn-lg btn-block btn-danger" value="Clear this annotation">
              </form>
        {%  endif %}
    </div>
    {% endif %}
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Context</h4>
      </div>
      <div class="card-body">
          <img src="{{ url_for('static', filename='images/contexts/'+image_path) }}" width="250" >
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Content Description (CD)</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{  content_description }}</h1>
      </div>
    <div class="card-header card-footer">
            <h4 class="my-0 font-weight-normal">Screen Title</h4>
        </div>
    <div class="card-body">
        <h1 class="card-title pricing-card-title">{{  screen_title }}</h1>
      </div>
        <div class="card-header card-footer">
            <h4 class="my-0 font-weight-normal">Icon</h4>
        </div>
      <div class="card-body" >
        <img id="img_icon" src="{{ url_for('static', filename='images/icons/'+image_path) }}" class="rounded mx-auto d-none" style="max-width: 100px;" >
      </div>
        {% if not is_view %}
                    <div class="card-body d-none" id="clear_div">
                        <button  class="btn btn-lg btn-block btn-danger" onClick="location.reload()">Clear the form</button>
                    </div>
            {% endif %}

    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Questions</h4>
      </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <p class="text-left">
                    Does the CD describe a valid functionality for the button?
                </p>
                  <div class="row">
                      <div class="col-md-6" disabled="true">
                        <button type="button" class="btn btn-block btn-primary" id="btn_q1y" onClick="answer_q1('y')">Yes</button>
                      </div>
                      <div class="col-md-6">
                        <button type="button" class="btn  btn-block btn-warning" id="btn_q1n" onClick="answer_q1('n')">No</button>
                      </div>
                  </div>
            </li>
            <li class="list-group-item">
                <div id="q2_card" class="d-none">
                    <p class="text-left">
                        Do the CD and image icon match?
                    </p>
                    <div class="row">
                          <div class="col-md-6">
                            <button type="button" class="btn  btn-block btn-primary" id="btn_q2y" onClick="answer_q2('y')">Yes</button>
                          </div>
                          <div class="col-md-6">
                            <button type="button" class="btn  btn-block btn-warning" id="btn_q2n" onClick="answer_q2('n')">No</button>
                          </div>
                      </div>
                </div>
            </li>
            <li class="list-group-item">
                    <div id="q3_card" class="d-none">
                        <p class="text-left">
                            Is the CD concise enough? (extra tokens of app name/click to/ button/...)
                        </p>
                        <div class="row">
                              <div class="col-md-6">
                                <button type="button" class="btn  btn-block btn-primary" id="btn_q3y" onClick="answer_q3('y')">Yes</button>
                              </div>
                              <div class="col-md-6">
                                <button type="button" class="btn  btn-block btn-warning" id="btn_q3n" onClick="answer_q3('n')">No</button>
                              </div>
                          </div>
                    </div>
            </li>
                <li class="list-group-item">
                <div id="q4_card" class="d-none">
                    <p class="text-left">
                        Is the CD confusing? (same as other buttons/requires more context)
                    </p>
                    <div class="row">
                          <div class="col-md-6">
                            <button type="button" class="btn  btn-block btn-primary" id="btn_q4y" onClick="answer_q4('y')">Yes</button>
                          </div>
                          <div class="col-md-6">
                            <button type="button" class="btn  btn-block btn-warning" id="btn_q4n" onClick="answer_q4('n')">No</button>
                          </div>
                      </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-none" id="submit_div">
                      <form method="post" id="my_form">
                        <input type="hidden" name="q1" value="">
                        <input type="hidden" name="q2" value="">
                        <input type="hidden" name="q3" value="">
                        <input type="hidden" name="q4" value="">
{#                        <input type="submit" class="btn btn-lg btn-block btn-success" value="Save">#}
                      </form>
                </div>
            </li>
{#            {% if not is_view %}#}
{#                <li class="list-group-item">#}
{#                    <div class="d-none" id="clear_div">#}
{#                        <button  class="btn btn-lg btn-block btn-danger" onClick="location.reload()">Clear answers</button>#}
{#                    </div>#}
{#                </li>#}
{#            {% endif %}#}

          </ul>

    </div>
  </div>
{% endblock %}

{% block script %}
    {{ super() }}
    <script>
        function answer_q1(choice){
            if (choice === 'y') {
                $("#btn_q1y").attr('disabled', true);
                $("#btn_q1n").css("visibility", 'hidden');
            }
            else{
                $("#btn_q1n").attr('disabled', true);
                $("#btn_q1y").css("visibility", 'hidden');
            }
            $("input[name='q1']").val(choice);
            $("#q2_card").removeClass("d-none");
            $("#img_icon").removeClass("d-none");
            $("#img_icon").addClass("d-block");
            $("#clear_div").removeClass("d-none");
        }

        function answer_q2(choice){
            if (choice === 'y') {
                $("#btn_q2y").attr('disabled', true);
                $("#btn_q2n").css("visibility", 'hidden');
            }
            else{
                $("#btn_q2n").attr('disabled', true);
                $("#btn_q2y").css("visibility", 'hidden');
            }
            $("input[name='q2']").val(choice);
            $("#q3_card").removeClass("d-none");
        }
        function answer_q3(choice){
            if (choice === 'y') {
                $("#btn_q3y").attr('disabled', true);
                $("#btn_q3n").css("visibility", 'hidden');
            }
            else{
                $("#btn_q3n").attr('disabled', true);
                $("#btn_q3y").css("visibility", 'hidden');
            }
            $("input[name='q3']").val(choice);
            $("#q4_card").removeClass("d-none");
        }
        function answer_q4(choice){
            if (choice === 'y') {
                $("#btn_q4y").attr('disabled', true);
                $("#btn_q4n").css("visibility", 'hidden');
            }
            else{
                $("#btn_q4n").attr('disabled', true);
                $("#btn_q4y").css("visibility", 'hidden');
            }
            $("input[name='q4']").val(choice);
            $("#my_form").submit()
            {#$("#submit_div").removeClass("d-none");#}
        }
        {% if is_view %}
            $("button").attr('disabled', true);
            $("input").attr('disabled', true);
            $(".d-none").removeClass("d-none");
            $("#input_clear").attr('disabled', false);
        {% endif %}
    </script>

{% endblock %}